<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="mb-4">Conversation Demo</h3>
      <%= raif_conversation(@conversation) %>
    </div>
    <div class="col-md-4">
      <h3 class="mb-4">Task Demo</h3>
      
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>
